* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
  background-color: #e5e5e5;
  padding: 100px;
}

.container h1 {
  text-align: center;
  margin: 20px 0;
  color: #31a5ac;
}
.for-image img {
  width: 90%;
  height: 700px;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.section h2 {
  text-align: center;
  margin-top: 10px;
  margin-left: 100px;
}

.btn {
  background-color: #59a5ff;
  color: aliceblue;
  padding: 10px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  transition: ease;
  margin-left: 230px;
}
.savings {
  display: flex;
  margin-left: 100px;
  align-items: center;
}
.input-save {
  padding: 10px;
  width: 60px;
  margin-top: 5px;
  border: 1px solid rgb(224, 181, 123);
  border-radius: 5px;
}
.parcentage {
  padding: 20px;

  font-weight: 800;
}
.btn2 {
  background-color: #59a5ff;
  color: aliceblue;
  padding: 10px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
.btn:hover {
  background-color: burlywood;
}
.btn2:hover {
  background-color: burlywood;
}

.section {
  margin-top: 20px;
}
.section h3 {
  text-align: center;
  margin-top: 20px;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: antiquewhite;

  padding: 30px;
  height: 650px;
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #181304;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 100px;
  color: #160404;
  font-weight: 700;
  margin-left: 60px;
  font-size: 18px;
}
.input {
  padding: 10px;
  border: none;
  border-radius: 8px;
}

/*--------
 media quaries
--------------- */
/* for mobile devices */

@media only screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .for-image img {
    width: 380px;
    height: 450px;
  }
  .container h1 {
    color: #051c1d;
  }
  .container {
    width: 180px;
  }
  .wrapper {
    width: 310px;
    height: 700px;
    background: antiquewhite;
  }

  .wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #181304;
    text-transform: uppercase;
    text-align: center;
  }

  .wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .wrapper .form .inputfield label {
    width: 50px;
    color: #160404;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 25px;
    font-size: 18px;
  }
  .input {
    padding: 10px;
    border: none;
    border-radius: 8px;
  }

  .btn {
    background-color: #59a5ff;
    color: aliceblue;
    padding: 10px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 10px 0;

    margin-left: 100px;
  }
  .savings {
    display: flex;
    margin-left: 20px;
    align-items: center;
  }
}
